@font-face {
    font-family: 'Pokemonsolid';
    src: url('fonts/PokemonSolidNormal-xyWR.ttf') format(truetype);
}

body.home {
    background-image: url(./images/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body.demon {
    background-image: url(./images/fundod.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body.solo {
    background-image: url(./images/fundoSolo.jpg);
    background-size: cover;
    
}
body.frieren {
    background-image: url(./images/fundoFrieren.jpeg);
    background-size: cover;

}
body.black{
    background-image: url(./images/black2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.fontText, .anime-text, p , .col-12{
    font-family: 'Pokemonsolid', sans-serif;
    padding: 0 10px;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    font-size: 70px;
    opacity: 100%;
    color: #000000;
    -webkit-text-stroke: #ffffff;
    -webkit-text-stroke-width: 1px;
}
h2 {
    text-align: center;
    font-size: 33px;
    color: rgb(3, 3, 3);
    -webkit-text-stroke: #ffffff;
    -webkit-text-stroke-width: 0.1px;
}
p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #0c0c0c;
    text-align: center;
    font-size: 30px;
}
ul {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'Pokemonsolid', sans-serif;
    text-align: left;
    color: #ffffff;
}


.image-container {
    width: 20%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
.col-12{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 26px;
    color: rgb(0, 0, 0);
    padding: 10px;
    z-index: 2;
    -webkit-text-stroke: #7e7c7c;
    -webkit-text-stroke-width: 1px;
}
.text-overlay2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 25px;
    position: absolute;
    top: 71%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    padding: 10px;
    z-index: 2;
    -webkit-text-stroke: #ffffff;
    -webkit-text-stroke-width: 1px;
}
.black-text{
    font-size: 22px;
}



a:link {
    color: rgb(0, 0, 0);
}
a:visited {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: #020202;
    -webkit-text-stroke-width: 1px;
}

@media (min-width: 992px) {
    .black-text {
        font-size: 24px;
        
    }
    .demon-text{
        font-size: 30px;
    }
}