@font-face {
    font-family: 'Pokemonsolid';
    src: url('fonts/PokemonSolidNormal-xyWR.ttf') format(truetype);
}
.esquerda {
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    font-family:'Times New Roman', Times, serif;
    
}
/*pagina home*/
html, body {
    height: 100%;
    margin: 0;
}
header{
    font-family: 'Pokemonsolid', sans-serif;
    padding: 0 10px;
    word-wrap: break-word;
}
.home, .frieren, .demon, .black, .solo{
    display: flex;
    flex-direction: column;
}
.solo{
    background-color: rgb(161, 161, 161);
    min-height: 100vh;
}
.home{
    background-image: url("./images/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
header {
    background-color: #000000;
}
nav{
    display: flex;
    justify-content: space-evenly;
    display: flex; align-items: center;
}
.logo img{
    width: 55px;
    padding-left: 20%;
    padding-top: 20%;
    
}
nav a{
    font-family: 'Pokemonsolid', sans-serif;
    flex: 1; 
    text-align: center; 
    text-decoration: none;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-color: #f7f7f7;
    -webkit-text-stroke-width: 0.5px;
    padding: 15px 0;
}
main {
    flex: 1;
    font-family: 'Pokemonsolid', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
}
main p{
    padding-top: 5%;
    font-size: 20px;
}

.copy{
    text-align: center;
    color: #000000;
}
/*fim pagina home*/

.frieren{
    background-image: url(./images/fundoFrieren.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    
}
.demon{
    background-image: url(./images/fundod.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

}

.black{
    background-image: url(./images/fundoBlack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.swiper {
    width: 100%;      /* largura do slider */
    margin: 50px auto; /* centraliza horizontalmente e dá espaço acima/baixo */
    padding: 30px 0; /* espaço interno */
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper-slide img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 1s;
  cursor: pointer;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}
.capa-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: block;   
    margin-bottom: 0;
    }
.capa-2 img{

    margin-top: 5%;
    width: 340px;
    height: 200px;
    border-radius: 15px;
}
.unitaria p {
    font-size: 10px;
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.5px;
}
.unitaria pre{
    background-color: #f7f7f7;
    border-radius: 15px;       /* bordas arredondadas */
    margin: 10px; 
    font-size: 10px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.5px;
    color: rgb(0, 0, 0);
}
.unitaria .estrelas{
    color: rgb(255, 255, 0);
    

}

